body {
    padding:0;
    margin:0;
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width:960px;
}
.section-header-text {
    color: white;
    padding-left:4%;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}
.header {
    margin:20px;
    background-color: #2d2d2d;
}
.header-img {
    width:100%;
}
.section-container {
    margin:20px;
    padding:0px;
    background-color:white;
}
.section-content {
    background-color:white;
    padding:20px;
    padding-left:3%;
}
.section-header {
    background: -moz-linear-gradient(left, black 3%, #3795d1 3%, #3795d1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, black 3%,#3795d1 3%,#3795d1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, black 3%,#3795d1 3%,#3795d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='black', endColorstr='#3795d1',GradientType=1 ); /* IE6-9 */
    padding:0px;
    margin:0px;
    height:30px;
}
.section-info {
    padding-left:0.5%;
    width:100%;
}
.section-image {
    float:right;
    padding-right:5%;
    padding-top:1%;
}
